

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


.texto{
  text-align: center;
  position: absolute;
  color: white;
  font-family: 'Poppins', sans-serif;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
font-size: 30px;
}

.lista{

font-family: 'Poppins', sans-serif;
}

.item-m{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.item-m a {
  padding: 10px;
color: #E8444D;
text-decoration: none;
}


.item-m a:hover{
  padding: 10px;
color: #E8444D;
background-color: #F5E3E7;
text-decoration: none;
}

.contenedor {
    width: 100%;
  color: black;
  position: relative;
  text-align:center;
}


.encabezado{
text-align: center;
  color: white;
}


.cuerpo{
  padding: 50px;
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.text{
  padding: 30px;
  color: black;
  font-family: 'Poppins', sans-serif;
}


.youlook {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: black;
  height: 100px;
  background-color: #F5E3E7;
  padding: 50px;
  text-align: center;
}

.imgag{
padding: 20px
}

a{
  color:#E8444D;
}

.producto{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 30px
}

.feel{
  font-family: 'Poppins', sans-serif;
    padding: 30px;
}


.final{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 50px;
}


.pie {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #F5E3E7;
  height: 100px;
  background-color: #E8444D;
  padding: 80px;
}
