body {
background-image: url(../firma/foto1.jpg);
background-repeat: no-repeat;
background-size: cover;
  background-color: #F4F3F2;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


  .item-m {
      text-align: center;
    display: inline-block;
  }


  .item-m a{
  color: #442A18;
  }


.firma {
  width: 300px;
  margin: 10px auto;
  padding: 20px;
}

.cuerpo{

  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  width: 500px;
  margin: 150px auto;
  padding: 50px;
  border-radius: 15px;
}

.lugar{

  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #BABFBF;
  margin: 10px auto;
}

.redes{

  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #BABFBF;
  margin: 30px auto;
}
